.votes-btn-width {
    width: 10%;
}

.badge-width {
    width: 14%;
}

.link-width {
    width: 76%;
}

.spacer {
    width: 24%;
}

.badge {
    margin-right: .4rem;
}

.php-badge {
    background-color: #3490dc;
}

.js-badge {
    background-color: #f9e12f;
}

.ruby-badge {
    background-color: #e3342f;
}

