.w-10 {
    width: 10%;
}

.w-20 {
    width: 20%;
}

.w-80 {
    width: 80%;
}

.badge {
    margin-right: .4rem;
}

.php-badge {
    background-color: #3490dc;
}

.js-badge {
    background-color: #f9e12f;
}

.ruby-badge {
    background-color: #e3342f;
}

